rules_version = '2';

service firebase.storage {
  match /b/{bucket}/o {
    // Users can only read and write to their own folder, identified by their UID.
    match /{userId}/{allPaths=**} {
      allow read, write: if request.auth != null && request.auth.uid == userId;
    }
  }
}
